<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	<!-- 1. 设置应用名称-->
	<dubbo:application name="provider-of-cart"/>
		<!-- 2.配置zookeeper地址 -->
		<dubbo:registry address="zookeeper://127.0.0.1:2181">
		</dubbo:registry>
		<!-- 3.配置服务的端口号 -->
		<dubbo:protocol port="20888" name="dubbo">
		</dubbo:protocol>
		<!-- 4.配置实现类的类名 -->
		<bean class="com.git.dubboProvider.CartServiceImpl" id="cartService">
		</bean>
		<!-- 5.配置接口名,开放服务 -->
	<dubbo:service interface="com.git.service.CartService" ref="cartService">
	</dubbo:service>
	</beans>
