<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	<!-- 1,应用名称 -->
	<dubbo:application name="consumer-of-cart"/>
	<!-- 2,zookeeper -->
	<dubbo:registry address="zookeeper://127.0.0.1:2181"></dubbo:registry>
	<!-- 3,配置那些接口由dubbo来执行 -->
	<dubbo:reference interface="com.git.service.CartService" id="cartService"></dubbo:reference>
	<dubbo:reference interface="com.git.inter.UserService" id="userService"></dubbo:reference>
	<dubbo:reference interface="com.git.inter.RpcInvoker" id="rpcInvoker"></dubbo:reference>
	<bean id="MySpringContext" class="com.git.dubboconsumer.util.MySpringContext"/>

	<dubbo:reference id="callbackService" interface="com.git.inter.CallbackService" />

	<dubbo:reference id="roleService" interface="com.git.inter.RoleService" />
</beans>

